{% extends 'base.html.twig' %}

{% block title %}
	TreveurFrancis | Botrel
{% endblock %}

{% block body %}

	<section class="content3 cid-shwm0k5hws" id="content3-2e">


		<div class="container h-100">
			<div class="d-flex justify-content-center h-100">
				<div class="user_card">
					<h1>Connexion</h1>
					<hr>

					<div class="d-flex justify-content-center form_container">
						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% for message in app.flashes('notice') %}
								<div class="alert alert-info">{{ message }}</div>
							{% endfor %}

							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fas fa-user"></i>
									</span>
								</div>
								<input type="email" value="{{ last_username }}" name="email" class="form-control input_user" placeholder="email">
							</div>
							<div class="input-group mb-2">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fas fa-key"></i>
									</span>
								</div>
								<input type="password" name="password" class="form-control input_pass" placeholder="password">

								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							</div>

							<div class="row">
								<div class="col-md-6">
									<button type="submit" name="button" class="btn btn-primary">Connexion</button>
								</div>
								<div class="col-md-6">
									<a class="" href="{{path('app_register')}}">Enregistrez-vous ici</a>
								</div>
							</div>

						</form>
					</div>


				</div>
			</div>
		</div>
	</section>

{% endblock %}
