{% extends 'base.html.twig' %}

{% block title %}
	TreveurFrancis | Botrel
{% endblock %}

{% block body %}

	<section class="image2 cid-shuYKEda6v mbr-parallax-background" id="image2-10">


		<div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(240, 238, 234);"></div>

		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-lg-4">
					<div class="image-wrapper">
						<img src="{{asset('assets/images/treveur.jpg')}}" alt="">
						<p class="mbr-description mbr-fonts-style mt-2 align-center display-4">Treveur Francis Botrel
						</p>
					</div>
				</div>
				<div class="col-12 col-lg">
					<div class="text-wrapper">
						<h3 class="mbr-section-title mbr-fonts-style mb-3 display-1">
							<em>Treveur</em>
							<br>Botrel</h3>
						<p class="mbr-text mbr-fonts-style display-5">Je me considère comme un artiste nostalgique
							<em>
								perdu dans le futur</em>. Mon voyage est
							<strong>
								<em>guidé par le miracle de l'art .
								</em>
							</strong>.&nbsp;</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="content5 cid-shvB94Clv0" id="content5-1l">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">

					<h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5">
						<em>J'ai toujours aimé dessiner. C'est quelque chose à l'intérieur de moi, sans contrôle, juste un abandon à mon crayon. Je pense que c'était Dieu tout le temps...</em><br><em><br></em>
					</h4>
					<p class="mbr-text mbr-fonts-style display-7">
						<strong>Treveur Francis Kouadio</strong>
						Histoire d'un parcours atypique et admirable , entre écoles et institutions spécialisées, jusqu'à intégrer l'institut des Beaux-Arts de Kinshasa où il donne corps à ses rêves de formes et de couleur,en un mot , sa "peinture".
						<br>
						<br><br></p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
