{% extends 'base.html.twig' %}

{% block title %}
	TreveurFrancis | Botrel
{% endblock %}

{% block body %}

	<section class="content3 cid-shwm0k5hws" id="content3-2e">


		<div class="container">
			<div class="mbr-section-head">
				<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">Art
					<em>Gallerie</em>
					Vente</h4>
				<h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-7">
					<em>
						<i>
							<a href="#" class="text-primary">Peintures</a>&nbsp;·&nbsp;
							<a href="#" class="text-primary">Sculptures</a>&nbsp;·&nbsp;

						</i>
					</em><br><em>
						<i>
							<a href="#" class="text-primary"><br></a>
						</i>
					</em>
				</h5>
			</div>
			<div class="row mt-4">
				{% for boutiq in boutiques %}
					<div class="item features-image сol-12 col-md-6 col-lg-4">
						<div class="item-wrapper">
							<div class="item-img">
								<img src="{{vich_uploader_asset(boutiq, 'imageFile') |imagine_filter('portfolio')}} " alt="{{boutiq.titre}}">
							</div>
							<div class="item-content">
								<h5 class="item-title mbr-fonts-style display-7">
									<em>${{boutiq.prix}}</em>
								</h5>
								<h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
									<strong>{{boutiq.titre}}</strong>
								</h6>

							</div>
							<div class="mbr-section-btn item-footer mt-2">
								<a href="{{path('contact')}}" class="btn item-btn btn-primary-outline display-7">Contactez
								</a>
							</div>
						</div>
					</div>
				{% endfor %}


			</div>
		</div>
	</div>

</section>{% endblock %}
