{% extends 'base.html.twig' %}

{% block title %}
	TreveurFrancis | Botrel
{% endblock %}

{% block body %}


	<div class="container">
		<section class="content3 cid-shwm0k5hws" id="content3-2e">
			<h1 class="text-center">Conditions Générales d' utilisateurs du site de TreveurFrancis</h1>
			<p class="text-center">
				Ceci est mon site de peinture - Toute Reproductuin interdite
			</p>
		</section>

	</div>


</div>{% endblock %}
