{% extends 'base.html.twig' %}

{% block title %}
	TreveurFrancis | Botrel
{% endblock %}

{% block body %}
	<section class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">


		<div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>

		<div class="align-center container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-11">
					<h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
						<strong>
							<em>
								<span style="color:white">Rêve de bohème</span>
							</em>
						</strong>
						<span style="color:white">Treveur Francis Botrel</span>
					</h1>

					<p class="mbr-text mbr-fonts-style display-5">
						<em>Peintre, voyageur du temps&amp;observateur du monde</em>
					</p>
					<div class="mbr-section-btn mt-3">
						<a class="btn btn-white display-7" href="{{path('portfolio')}}">Parcourir mes peintures</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="content1 cid-s48udlf8KU" id="content1-8">

		<div class="container">
			<div class="row justify-content-center">
				<div class="title col-12 col-md-11">
					<h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
						<strong>
							<em>Tout ce</em>
						</strong>
						que vous pouvez
						<strong>
							<em>imaginer</em>
						</strong>
						est
						<em>réel</em>...</h3>
					<h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-5">“<em>
							Il est bon d'aimer beaucoup de choses, car c'est là la vraie force, et celui qui aime beaucoup accomplit beaucoup et peut accomplir beaucoup, et ce qui est fait dans l'amour est bien fait. Un peintre devrait commencer chaque toile par un lavis de noir, car toutes les choses dans la nature sont sombres, sauf là où elles sont exposées par la lumière.</em>”</h4>

				</div>
			</div>
		</div>
	</section>

	<section class="image3 cid-s48upRUlSD" id="image3-9">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-9">
					<div class="image-wrapper">
						<img src="{{asset('assets/images/boissacrecop.jpg')}}" alt="boissacrecop">
						<p class="mbr-description mbr-fonts-style mt-2 align-center display-4">Un peu de texte sur cette image ici</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="content10 cid-si7dNIbZXU" id="content10-2i">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md">

					<h6 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5">
						L'art m'a emmené si loin... Je ne peux pas imaginer la vie sans la peinture car c'est ma seconde nature, ma seule et unique vérité.<br>
							<em></em>
						</h6>
					</div>
					<div class="col-md-12 col-lg-6">
						<p class="mbr-text mbr-fonts-style display-7">Au fur et à mesure que je travaille sur mes dessins, jour après jour, ce qui auparavant semblait inaccessible devient progressivement possible. Lentement, j'apprends à observer et à mesurer. Je ne suis plus aussi impuissant devant la nature..</p>
					</div>
				</div>
			</div>
		</section>

		<section class="gallery3 cid-shtBl8uLmj" id="gallery3-p">
			<div class="container">
				<div class="mbr-section-head">
					<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">Certaines de mes
						<em>
							<strong>meilleurs</strong>
						</em>
						peintures</h4>
					<h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 col-md-8 col-xl-6 mx-auto display-5">La Perfection
						<em>n'est pas &nbsp; de ce monde</em>.<br></h5>
				</div>
				<div class="row mt-4">
					{% for item in peint %}
						<div class="item features-image сol-12 col-md-6 col-lg-4">
							<div class="item-wrapper">
								<div class="item-img">
									<img src="{{vich_uploader_asset(item, 'imageFile') | imagine_filter('miniature')}} " alt="{{item.titre}}">

								</div>
								<div class="item-content">
									<h5 class="item-title mbr-fonts-style display-5">
										<em>
											{{item.titre}}</em>
									</h5>
									<h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
										<em>{{item.intro|raw}}</em>
									</h6>

								</div>

							</div>
						</div>
					{% endfor %}


				</div>
			</div>
		</section>

		<section class="content11 cid-shtS9N36Cq" id="content11-v">

			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 col-lg-10">
						<div class="mbr-section-btn align-center">
							<a class="btn btn-black display-4" href="{{path('boutique')}}">Visitez ma boutique</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="testimonails3 carousel slide testimonials-slider cid-si7eEIkpvx" data-interval="false" id="testimonials3-2j">


			<div class="text-center container">


				<div class="carousel slide" role="listbox" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="8000">
					<div class="carousel-inner">

						{% for temoi in temoign %}
							<div class="carousel-item">
								<div class="user col-md-8">
									<div class="user_image">
										<img class="img-fluid post-thumb " src="{{vich_uploader_asset(temoi, 'imageFile') | imagine_filter('temoignages')}}" alt="{{temoi.auteur}}">

									</div>
									<div class="user_text mb-4">
										<p class="mbr-fonts-style display-7">
											{{ temoi.contenu|raw }}
										</p>
									</div>
									<div class="user_name mbr-fonts-style mb-2 display-7">
										<strong>{{ temoi.auteur }}
											-
											<em>{{ temoi.profession }}</em>
										</strong>
									</div>

								</div>
							</div>
						{% endfor %}


						<div class="carousel-controls">
							<a class="carousel-control-prev" role="button" data-slide="prev">
								<span aria-hidden="true" class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont"></span>
								<span class="sr-only">Previous</span>
							</a>

							<a class="carousel-control-next" role="button" data-slide="next">
								<span aria-hidden="true" class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</section>

			<section class="content1 cid-shtF1wM477" id="content1-r">


				<div class="container">
					<div class="mbr-section-head">
						<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">Explorez le
							<em>Blog</em>&nbsp;<strong>
								<em>Inspirant</em>
							</strong>
						</h4>
						<h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">d'<strong>
								<em>Art</em>
							</strong>
							&amp;
							<strong>
								<em>Peintures</em>
							</strong>
						</h5>
					</div>
					<div class="row mt-4">
						{% for item in derniers %}
							<div class="item features-image сol-12 col-md-6 col-lg-6">
								<div class="item-wrapper">
									<div class="item-img">
										<img class="img-fluid post-thumb " src="{{vich_uploader_asset(item, 'imageFile') | imagine_filter('blog')}}" alt="image_blog">
									</div>
									<div class="item-content">
										<h5 class="item-title mbr-fonts-style display-5">
											<a href="#top" class="text-black">{{item.titre}}</a>
										</h5>
										<h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
											<em>{{ item.createdAt | date("d/m/Y") }}</em>
										</h6>
										<p class="mbr-text mbr-fonts-style mt-3 display-7">
											<em>{{item.contenu|raw}}</em>
											<br></p>


									</div>

								</div>
							</div>
						{% endfor %}


					</div>
				</div>
			</section>

		{% endblock %}
