{% extends 'base.html.twig' %}

{% block title %}
	TreveurFrancis | Botrel
{% endblock %}

{% block body%}
	<section class="content3 cid-shw5D3BqkT" id="content3-1w">


		<div class="container">
			<div class="mbr-section-head">
				<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>
						<em>De L'</em>
					</strong>Art
					<em>et de</em>
					L' Inspiration</h4>
				:
			</div>
			<div class="row mt-4">
				{% for peint in peinture %}
					<div class="item features-image сol-12 col-md-6 col-lg-4">
						<div class="item-wrapper">
							<div class="item-img">
								<img src="{{vich_uploader_asset(peint, 'imageFile') |imagine_filter('portfolio')}} " alt="{{peint.titre}}">
							</div>
							<div class="item-content">
								<h5 class="item-title mbr-fonts-style display-4">
									<em>{{ peint.createdAt | date("d/m/Y") }}</em>
								</h5>
								<h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
									<strong>{{peint.titre}}</strong>
								</h6>

							</div>
							<div class="mbr-section-btn item-footer mt-2">
								<a href="{{ path('peinture_show', { 'slug' : peint.slug }) }}" class="btn item-btn btn-primary-outline display-7">Lire Plus &gt;</a>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</section>
{% endblock %}
