{% extends 'base.html.twig' %}

{% block title %}TreveurFrancis | Botrel
{% endblock %}

{% block body %}


<section class="content4 cid-shw8pzyc9H" id="content4-20">


	<div class="container">
		<div class="row justify-content-center">
			<div class="title col-md-12 col-lg-9">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
					presentation de
					<strong>
						<em></em>
					</strong>
					{{peinture.titre}}</h3>
				<h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">
					<em>Treveur Botrel</em>
					·
					{{ peinture.createdAt | date("d/m/Y") }}·
					<em>Art</em>,
					<em>Inspiration</em>
				</h4>

			</div>
		</div>
	</div>
</section>

<section class="image3 cid-shw8vnk9qC" id="image3-21">


	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-8">
				<div class="image-wrapper">
					<img src="{{vich_uploader_asset(peinture, 'imageFile') |imagine_filter('shows')}} " alt="{{peinture.titre}}">
					<p class="mbr-description mbr-fonts-style mt-2 align-center display-4">
						{{peinture.intro|raw}}</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="content5 cid-shwaXvGebA" id="content5-24">

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">

				<h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5">{{peinture.titre}}</h4>
				<p class="mbr-text mbr-fonts-style display-7">{{peinture.content|raw}}&nbsp;<br></p>
			</div>
		</div>
	</div>
</section>
{% endblock%}
