{% extends 'base.html.twig' %}

{% block title %}
	TreveurFrancis | Botrel
{% endblock %}

{% block body %}


	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			{% for flashError in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}
			<div class="col-md-12">
				<h1>S'inscrire</h1>
				<hr>
				<div class="d-flex justify-content-center form_container">
					{% for flashError in app.flashes('verify_email_error') %}
						<div class="alert alert-danger" role="alert">{{ flashError }}</div>
					{% endfor %}


					{{ form_start(registrationForm) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
					<div class="row">
						<div class="col-lg-12 col-sm-12">

							<div class="col-lg-4 col-sm-4">
								{{ form_row(registrationForm.agreeTerms) }}
							</div>
							<div class="col-lg-8 col-sm-8">
								<a href="{{path('cgu_conditions')}}" target="_blank">
									Lire les conditions</a>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">S'enregistrez</button>
					{{ form_end(registrationForm) }}

				</div>
			</div>

		</div>
	</div>

{% endblock %}
