{% extends'@EasyAdmin/layout.html.twig' %}


{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="jumbotrom">

				<h1>
					Administration
				</h1>
				<p class="lead">
					Bienvenue sur l'interface d'administration de votre site internet
				</p>
			</div>

			<div class="col">
				<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
					<div class="card-header">
						<i class="fas fa-list fa-1x"></i>
						Categories</div>
					<div class="card-body">
						<h1 class="card-title" style="color:white;">
							{{ stats.categorie }}
							Categories
						</h1>

					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
					<div class="card-header">
						<i class="fas fa-tag fa-1x"></i>
						Peintures</div>
					<div class="card-body">
						<h1 class="card-title" style="color:white;">
							{{ stats.peinture }}
							Peintures
						</h1>

					</div>
				</div>
			</div>

			<div class="col">
				<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
					<div class="card-header">
						<i class="fas fa-newspaper fa-1x"></i>
						Articles</div>
					<div class="card-body">
						<h1 class="card-title" style="color:white;">
							{{ stats.article }}
							Articles
						</h1>

					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
					<div class="card-header">
						<i class="fas fa-comments fa-1x"></i>
						Temoignages
					</div>
					<div class="card-body">
						<h1 class="card-title" style="color:white;">
							{{ stats.temoignage }}
							Avis
						</h1>

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
