{% extends 'base.html.twig' %}

{% block title %}
	TreveurFrancis | Botrel
{% endblock %}

{% block body %}

<section class="content3 cid-shwm0k5hws" id="content3-2e">
	<div class=" container">
		<div class="row justify-content-md-center">
			<div class="col-md-8">


				{% for message in app.flashes('message') %}
					<div class="card text-white bg-success ">{{ message }}</div>
				{% endfor %}

				<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2 ">Contactez moi | Je vous reponds
				</h4>
				<hr>
				{{ form_start(form) }}

				{{ form_row(form.email) }}
				{{ form_row(form.nom) }}
				{{ form_row(form.message) }}
				{{ form_end(form) }}

			</div>
		</div>
	</div>
</section>

{% endblock%}
