<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Blog Template">
		<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
		<title>
			{% block title %}Bienvenue TreveurFrancis | Art
			{% endblock %}
		</title>


		<link rel="stylesheet" href="{{ asset('assets/web/assets/mobirise-icons2/mobirise2.css')}}">
		<link rel="stylesheet" href="{{ asset('assets/tether/tether.min.css')}}">
		<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-grid.min.css')}}">
		<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-reboot.min.css')}}">
		<link rel="stylesheet" href="{{ asset('assets/dropdown/css/style.css')}}">
		<link rel="stylesheet" href="{{ asset('assets/socicon/css/styles.css')}}">
		<link rel="stylesheet" href="{{ asset('assets/theme/css/style.css')}}">
		<link rel="preload" as="style" href="{{ asset('assets/mobirise/css/mbr-additional.css')}}">
		<link rel="stylesheet" href="{{ asset('assets/mobirise/css/mbr-additional.css')}}" type="text/css">

		{% block javascripts %}
			<script src="{{ asset('assets/web/assets/jquery/jquery.min.js')}}" defer></script>
			<script src="{{asset('assets/popper/popper.min.js')}}" defer></script>
			<script src="{{asset('assets/tether/tether.min.js')}}" defer></script>
			<script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}" defer></script>
			<script src="{{asset('assets/smoothscroll/smooth-scroll.js')}}" defer></script>
			<script src="{{asset('assets/parallax/jarallax.min.js')}}" defer></script>
			<script src="{{asset('assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js')}}" defer></script>
			<script src="{{asset('assets/mbr-testimonials-slider/mbr-testimonials-slider.js')}}" defer></script>
			<script src="{{asset('assets/dropdown/js/nav-dropdown.js')}}" defer></script>
			<script src="{{asset('assets/dropdown/js/navbar-dropdown.js')}}" defer></script>
			<script src="{{asset('assets/touchswipe/jquery.touch-swipe.min.js')}}" defer></script>
			<script src="{{asset('assets/theme/js/script.js')}}" defer></script>
		{% endblock %}
	</head>
	<body>

		<section class="menu cid-s48OLK6784" once="menu" id="menu1-h">

			<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
				<div class="container-fluid">
					<div class="navbar-brand">
						<span class="navbar-logo">

							<a class="btn display-5" href="{{path('home')}}">Treveur Botrel</a>

						</span>

					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
							<li class="nav-item">
								<a class="nav-link link text-black text-primary display-4" href="{{path('home')}}">Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link link text-black text-primary display-4" href="{{path('a_propos')}}">
									A propos
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link link text-black text-primary display-4" href="{{path('events')}}">
									Evenements</a>
							</li>

							<li class="nav-item">
								<a class="nav-link link text-black text-primary display-4" href="{{path('portfolio')}}">
									Portfolio</a>
							</li>

							{% if app.user %}
								<li class="nav-item">
									<a class="nav-link link text-black text-primary display-4" href="{{path('app_logout')}}">
										Se Deconnecter</a>
								</li>
							{% else %}

								<li class="nav-item">
									<a class="nav-link link text-black text-primary display-4" href="{{path('app_login')}}">
										Se Connecter</a>
								</li>
							{% endif %}


							<div class="navbar-buttons mbr-section-btn">
								<a class="btn btn-success-outline display-4" href="{{path('boutique')}}">
									Gallerie de la Boutique</a>
							</div>
						</div>
					</div>
				</nav>

			</section>

			{% block body %}{% endblock %}

			<section class="footer5 cid-shtHY6lfAC" once="footers" id="footer5-u">


				<div class="container">
					<div class="media-container-row">
						<div class="col-md-2 col-2">
							<div class="media-wrap">
								<a href="#">
									<img src="{{asset('assets/images/adinda-melia.regular-495x174.png')}}" alt="">
								</a>

							</div>
						</div>
						<div class="col-10 col-10">
							<p class="mbr-text align-right links mbr-fonts-style display-7">
								{% if is_granted("ROLE_ADMIN") %}
									<a href="{{path('admin')}}" class="text-black" target="_blank">Administration</a>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<a href="{{path('cgu_conditions')}}" class="text-black">Conditions générales</a>
									&nbsp;&nbsp;&nbsp;&nbsp;
								{% else %}
									<a href="{{path('cgu_conditions')}}" class="text-black">Conditions générales</a>
									&nbsp;&nbsp;&nbsp;&nbsp;
								{% endif %}
								<a href="{{path('contact')}}" class="text-black">Contact</a>
							</p>
						</div>
					</div>
					<!-- <div class="media-container-row">
																																																																																																																																										            <div class="col-md-12"> -->
					<div class="footer-lower mt-3">
						<div class="media-container-row">
							<div class="col-md-6 copyright">
								<p class="mbr-text mbr-fonts-style display-7">
									© Copyright TreveurFrancis Site - Tous droits Réservé
								</p>
							</div>
							<div class="col-md-6">
								<div class="social-list align-right">
									<div class="soc-item">
										<a href="https://twitter.com/" target="_blank">
											<span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
										</a>
									</div>
									<div class="soc-item">
										<a href="https://www.facebook.com/" target="_blank">
											<span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
										</a>
									</div>

									<div class="soc-item">
										<a href="https://instagram.com/" target="_blank">
											<span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
										</a>
									</div>

								</div>
							</div>
						</div>
						<!-- </div>
																																																																																																																																																																					            </div> -->
					</div>

				</div>
			</section>

			<div id="scrollToTop" class="scrollToTop mbr-arrow-up">
				<a style="text-align: center;">
					<i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i>
				</a>
			</div>
		</body>
	</body>
</html></body></html>
