{% extends 'base.html.twig' %}

{% block title %}TreveurFrancis | Botrel
{% endblock %}

{% block body %}

	<section class="content3 cid-shwm0k5hws" id="content3-2e">
		<div class="container">

			<h1 class="title mb-2">403 erreur</h1>

			<a class="btn btn-primary" href="{{path('home')}}">Retourner à la page d'accueil</a>


		</div>

	</section>
</div>{% endblock %}
