{% extends 'base.html.twig' %}

{% block title %}TreveurFrancis | Botrel
{% endblock %}

{% block body %}
	<section class="header17 cid-shvUV7T48O mbr-fullscreen" id="header17-1s">
		<div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(32, 32, 32);"></div>

		<div class="align-center container">
			<div class="row justify-content-md-center">
				<div class="col-md-10">
					<h1 class="mbr-section-title mb-3 mbr-fonts-style display-1">Mon prochain&nbsp;<strong>Evenement</strong>
						pour bientot</h1>

					<p class="mbr-text mb-3 mbr-fonts-style display-5">Regarder aussi ma Gallerie.</p>
					<a href={{path('portfolio')}}>
						<div class="mbr-media mb-3 show-modal">
							<div class="icon-wrapper">
								<span class="mbr-iconfont mobi-mbri-play mobi-mbri"></span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="timeline3 cid-shvUiX7gNP" id="timeline3-1p">


		<div class="container">
			<div class="mbr-section-head">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
					<strong>Actualités</strong>
				</h3>

			</div>
			<div class="timelines-container mt-4">
				{% for article in articles %}
					<div class="row timeline-element first-separline mb-5">
						<div class="timeline-date col-12">
							<div class="timeline-date-wrapper">
								<p class="mbr-timeline-date display-7">
									{{ article.createdAt | date("d/m/Y") }}</p>
							</div>
						</div>
						<span class="iconBackground"></span>
						<div class="col-12 col-md-6">
							<div class="image-wrapper">
								<img class="img-fluid post-thumb " src="{{vich_uploader_asset(article, 'imageFile') | imagine_filter('events')}}" alt="{{article.titre}}">
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="timeline-text-wrapper">
								<h4 class="mbr-timeline-title mbr-fonts-style mb-0 display-5">
									<strong>&nbsp;</strong>
									{{article.titre}}</h4>
								<p class="mbr-text mbr-fonts-style mt-3 mb-0 display-7">{{article.contenu|raw}}
									<br></p>
								<div class="mbr-section-btn item-footer mt-2">
									<a href="{{ path('events_show', { 'slug' : article.slug }) }}" class="btn item-btn btn-primary-outline display-7">Lire Plus &gt;</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>

	{% endblock %}
