{% extends 'base.html.twig' %}

{% block title %}TreveurFrancis | Botrel
{% endblock %}

{% block body %}


	<section class="content4 cid-shw8pzyc9H" id="content4-20">


		<div class="container">
			<div class="row justify-content-center">
				<div class="title col-md-12 col-lg-9">
					<h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
						{{article.titre}}</h3>
					<h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">
						<em>{{article.auteur}}</em>
						·
						{{ article.createdAt | date("d/m/Y") }}
						· dans ,
						<em>{{article.titre}}</em>
					</h4>

				</div>
			</div>
		</div>
	</section>

	<section class="image3 cid-shw8vnk9qC" id="image3-21">


		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-8">
					<div class="image-wrapper">
						<img src="{{vich_uploader_asset(article, 'imageFile') | imagine_filter('show')}}" alt="{{article.titre}}">

						<p class="mbr-description mbr-fonts-style mt-2 align-center display-4">
							credit_images
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="content5 cid-shwaXvGebA" id="content5-24">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">

					<h4 class="mbr-section-subtitle mbr-fonts-style mb-4 display-5">{{article.titre}}</h4>
					<p class="mbr-text mbr-fonts-style display-7">{{article.contenu |raw}}&nbsp;<br></p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
